/*
COLORS:

White------------------#FFFFFF

Light Light Blue Gray--#C8CFD6
Light Blue Gray--------#9FABB7
Blue Gray--------------#535F6B
Dark Blue Gray---------#2F363D

Light Brown------------#BBBB77

Light Greeen-----------#2F363D

Red--------------------#FF0000
Dark Red---------------#580000

FORMAT:
Styles for all selectors follow the format depicted in theformat_template.css
file; Selector order follows the html layout
*/

/* page background */
html {
	background-color: #535F6B;
}
body {
	width: 900px;

	position: relative;

	background-color: #FFFFFF;

	border: 3px solid #2F363D;
	border-radius: 10px;
	margin: 15px auto 30px;

	font-family: arial;
}
/* end page background */

/* logout button */
#logout {
	height: 50px;
	width: 121px;

	position: absolute;
	right: 15px;
	top: 15px;
}
#logout > p {
	display:table-cell;
	height: 50px;
	width: 121px;

	margin: 0;
	vertical-align: middle;

	color: #2F363D;
	text-align: center;
}
#logout > p > a {

	padding: 15px 30px;
	border-radius: 10px;

	background-color: #9FABB7;
	color: inherit;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
#logout > p > a:hover {
	background-color: #BBBB77;
}
/* end logout button */

/* page header */
h1 {
	margin: 15px 0 0 0;

	color: #2F363D;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
}
h2 {
	margin: 0 0 15px 0;

	color: #535F6B;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
}

/* used to clear float elements */
.clear {
	clear: both;
}