/*
COLORS:

White------------------#FFFFFF

Light Light Blue Gray--#C8CFD6
Light Blue Gray--------#9FABB7
Blue Gray--------------#535F6B
Dark Blue Gray---------#2F363D

Light Brown------------#BBBB77

Light Greeen-----------#2F363D

Red--------------------#FF0000
Dark Red---------------#580000

FORMAT:
Styles for all selectors follow the format depicted in the format_template.css
file; Selector order follows the html layout
*/

/* manage button */
.manage-button {
	width: 900px;

	margin: 0 0 15px 0;
}
.manage-button > p {
	display:table-cell;

	width: 900px;
}
/* end manage button */