/*
COLORS:

White------------------#FFFFFF

Light Light Blue Gray--#C8CFD6
Light Blue Gray--------#9FABB7
Blue Gray--------------#535F6B
Dark Blue Gray---------#2F363D

Light Brown------------#BBBB77

Light Greeen-----------#2F363D

Red--------------------#FF0000
Dark Red---------------#580000

FORMAT:
Styles for all selectors follow the format depicted in the format_template.css
file; Selector order follows the html layout
*/

/* manage button */
.manage-button {
	width: 300px;

	float: left;

	margin: 0 0 15px 0;
}
.manage-button > p {
	width: 300px;
}
/* end manage button */

/* add button */
.add-button {
	float: left;

	margin: 0 0 15px 15px;
}
/* end add button */

/* manage table */
.manage-table {
	width: 870px;

	background-color: #C8CFD6;

	border-collapse: collapse;
	margin: 0 0 15px 15px;

	color: #535F6B;
}
.manage-table > tbody > tr > th,
.manage-table > tbody > tr > td {
	padding: 5px;
	border: 2px solid #2F363D;

	text-align: left;
}
.manage-table > tbody > tr > td > a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
.manage-table > tbody > tr > td > a:hover {
	color: #2F363D;
}
/* end manage table */

/* add users textarea */
.add-users {
	max-width: 850px;

	padding: 5px;
	border: 2px solid #2F363D;
	border-radius: 5px;
	margin: 0 0 15px 15px;
}
/* add users textarea */